body{
    background-color: black;
    cursor: url("../image/pointer.cur"),pointer;
}
canvas{
    border:5px inset gray;
    cursor: url("../image/pencil.cur"),pointer;
    background-color: white;
}
h3{ 
    font-family: 'Griffy', cursive; 
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 2px 2px palevioletred;
}
div#canvas_window{
    background-color: rgba(90, 14, 14, 0.822);
    height: 600px;
}
div#header{
    background-image: linear-gradient(to top,black,Maroon ,black,black,Maroon,black);
}
div#footer{
    background-image: linear-gradient(to bottom,rgba(90, 14, 14, 0.822),black);
    height: 68px;
}
h5{
    font-family: 'Griffy', cursive; 
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}
p{
    font-family: 'Griffy',cursive;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    cursor: url("../image/pointer.cur"),pointer;
}
p.size_bar{
    color: black;
    display: inline-block;
}
#text,#pencil,#eraser,#triangle,#rectangle,#circle,#upload,#redo,#undo,#reset,#download,#cut{
    cursor: url("../image/pointer.cur"),
    pointer;
}
input.t{
    color: whitesmoke;
    text-align: center;
    background-color: black;
    border: 0px solid;
    cursor: url("../image/pointer.cur"),
    pointer;
}
input.t:focus {
    border: 3px solid whitesmoke;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 15px; 
    outline: none;
    cursor: url("../image/pointer.cur"),pointer;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    box-shadow: 2px 2px 2px black,0px 0px 1px gray;
    background: brown;
    border-radius: 10%;
    border: 0.5px inset black;
 }
input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px black, 0px 0px 1px gray;
    border: 2px inset black;
    height: 16px;
    width: 16px;
    border-radius: 25%;
    background: rebeccapurple;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    margin-top: -8px;
    background: firebrick;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: orange;
}


